<div class="game-box col-10 offset-1" >
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width:400px">          
          <%= image_tag('ian.jpg', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Ian Wei</h4>
            <p class="card-text">Web developer, major in Ruby on rails, Javascript, CSS and html</p>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('Kyle_picture', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Kyle Duca</h4>
            <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
          </div>          
        </div>
      </div>
    </div>
  </div> 
  <br />
  <br />
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('Guillaume_bihet_picture', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Guillaume_bihet</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('Chris_picture', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Chris</h4>
            <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
          </div>          
        </div>
      </div>
    </div>
  </div>       
</div>