<div class="game-box col-10 offset-1" >
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('guillaume.jpg', class: 'card-img-top', style: 'width:100%') %>
            <div class="card-body">
              <h4 class="card-title">Guillaume Bihet</h4>
              <p class="card-text">Full-stack web developer <br/> Ruby on Rails, PostgreSQL, Rails API, JS, JQuery, JSON, Ajax, ReactJS</p>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width:400px">          
          <%= image_tag('ian.jpg', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Ian Wei</h4>
            <p class="card-text">Web developer, major in Ruby on rails, Javascript, CSS and html</p>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
      </div>
      <br>
     
    </div>
  </div> 
  <br />
  <br />
  <div class="container">
    
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('blank.jpg', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Kyle Duca</h4>
            <p class="card-text"></p>
          </div>          
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="card" style="width:400px">
          <%= image_tag('blank.jpg', class: 'card-img-top', style: 'width:100%') %>
          <div class="card-body">
            <h4 class="card-title">Chris</h4>
            <p class="card-text"></p>
          </div>          
        </div>
      </div>
    </div>
  </div>       
</div>