<h1>Start a New Game</h1>
<p>You can start a new game by selecting another player who's registered on the Chesster server.</p>

<%= simple_form_for @game, :url => games_path do |f| %>
  <%= f.input :black_player_id, :collection => User.all %>
  <br/>
  <%= f.submit "Start Game", :class => 'btn btn-primary' %>
<% end %>

<div id="chessboard">
  <div></div>
</div>

<script>
var createBoard = function()
{
  rank = ["A","B","C","D","E","F","G","H"];
  stack = [1,2,3,4,5,6,7,8];
	tiles = $(".tile");
  var currentTile = {};

    var count = 0;


    for(var i = 0; i < rank.length; i++)
    {
      for (var j = 0; j < stack.length; j++)
        {
          if(count%8 == 0)
          {
            $("#chessboard").append('<div class="tile smoothfade" style="clear:left"></div>');

          }else{
            $("#chessboard").append('<div class="tile smoothfade"></div>');
            }
          $(".tile").eq(count).attr("data-gridpos",((rank[rank.length - (i +1)]+stack[j])));

          if(((i%2 == 0) && (j%2 != 0)) || ((i%2 != 0) && (j%2 == 0)))
          {
            $(".tile").eq(count).addClass("black");
          }
          else
          {
            $(".tile").eq(count).addClass("white");
          }
          count++;

      }
    }

    $(".tile").on('click',function(){
    		currentTile = $(this);
    		var midY = $(this).position().top += ( $(this).width() / 2 );
    		var midX = $(this).position().left += ( $(this).width() / 2 );
    		var player = $("#player");



    		tiles.removeClass('legal');
    		console.log("X : "+midX + " || Y : "+midY);
    		player.css({"top":midY - (0.5 * player.width()), "left":midX-(0.5*player.width())});
    		console.log("Last Clicked Tile : "+currentTile.data("gridpos"));

    	})

    	.on('mouseenter',function(){
    		$(this).addClass('hover');
    	})

    	.on('mouseleave',function(){
    		$(this).removeClass('hover');
    	});
}




$(createBoard);
</script>
