<div class="col-12 offset-4">
  <table id="chessboard">
    <%= @g.inspect %>


    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
 
<% if false %>       
          <% def check_position(x, y) %>
            <% if @game.piece.position_x(x)[@game.piece.position_y(y)] != nil %>
              <%= put piece.id %>
            <% end %>
          <% end %>
<% end %>

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile">call here</td> 
            <% else %>
              <td class="white tile">&nbsp;</td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile">&nbsp;</td>
            <% else %>
              <td class="black tile">&nbsp;</td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


