<div class="col-12 offset-4">
  <table id="chessboard">

    <% (1..8).to_a.reverse.each do |row_number| %>
      <tr>
        <% ["A","B","C","D","E","F","G","H"].each_with_index do |rank , index| %>
 

          <% if row_number.odd? %>
            <% if index.even? %>
              <td class="black tile">


                <% x = row_number %>
                <% y = index + 1%>
                <%= check_piece(x, y) %>


              </td> 
            <% else %>
              <td class="white tile">


                <% x = row_number %>
                <% y = index + 1%>
                <%= check_piece(x, y) %>



              </td>
            <% end %>
          <% else %>
            <% if index.even? %>
              <td class="white tile">


                <% x = row_number %>
                <% y = index + 1%>
                <%= check_piece(x, y) %>


              </td>
            <% else %>
              <td class="black tile">

                <% x = row_number %>
                <% y = index + 1%>


                <% x = row_number %>
                <% y = index + 1%>
                <%= check_piece(x, y) %>


              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


