// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.game-box {
  -moz-box-shadow: 1px 1px 2px  0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #c0c0c0;
  background: #fff;
  border: 1px solid #aaa;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.chessboard
{
float: left;
padding:10px;
background-color: #FFE598;
border:5px solid black;
margin-left: 44px;

}

.tile
{
  width: 64px;
  height: 64px;
  float: left;
}


.black
{

  background-color: #1D263B;
  color:white;
}

.white
{
  background-color: #F8FCF8;
  color:black;

}

.hover
{
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
  box-shadow: inset 0px 0px 5px 5px rgba(50, 150, 25, .5);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {  
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.square {
display: inline-block;
width: 100%;
height: 100%;
}

.img-responsive {
  height: 64px; 
  width: 64px; 
  max-width: 64px; 
  max-height: 64px;
}

.highlight {
  background-color: green;
}

.draggable {
 width: 64px; height: 64px; float: left;
}
.droppable {
 width: 64px; height: 64px; float: left; 
}

.clear {
  clear: both;
} 

.center {
    margin: auto;
    width: 33%;
}

.promo {
  text-align: center;
  margin-left: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

