// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.game-box {
  -moz-box-shadow: 1px 1px 2px  0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #c0c0c0;
  background: #fff;
  border: 1px solid #aaa;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

