@import "font-awesome";
#action_box{
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  width: 518px;
  position: relative;
  margin:0 auto;
}

#action_box_transp{
  padding: 5px;
  width: 518px;
  position: relative;
  margin:0 auto;
}


h4 {
  text-align: center;
}

.card-text {
  text-align: center;
}